@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  text-align: center;
  background-color: #f4a226;
  font-family: "Monoton";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 2rem;
}

@media (max-width: 803px) {
  h1 {
    font-size: 7rem;
  }
}
@media (max-width: 715px) {
  h1 {
    font-size: 6rem;
  }
}
@media (max-width: 620px) {
  h1 {
    font-size: 5.5rem;
  }
}
@media (max-width: 574px) {
  h1 {
    font-size: 5rem;
  }
}
@media (max-width: 530px) {
  h1 {
    font-size: 4.5rem;
  }
}

.add-form {
  background-color: #e5771f;
  padding: 2.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}
@media (max-width: 654px) {
  h3 {
    font-size: 2rem;
  }
  .add-form {
    flex-wrap: wrap;
  }
}
@media (max-width: 514px) {
  h3 {
    font-size: 1.8rem;
  }
  .add-form {
    gap: 1.2rem;
  }
}
@media (max-width: 486px) {
  .add-form {
    gap: 2rem;
  }
}
@media (max-width: 367px) {
  h3 {
    font-size: 1.6rem;
  }
}
@media (max-width: 333px) {
  h3 {
    font-size: 1.5rem;
  }
}

button,
select,
input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}
@media (max-width: 419px) {
  button,
  select,
  input {
    font-size: 1.2rem;
  }
}
@media (max-width: 356px) {
  button,
  select,
  input {
    font-size: 1.1rem;
  }
}
@media (max-width: 341px) {
  button,
  select,
  input {
    font-size: 1rem;
  }
}
@media (max-width: 330px) {
  button,
  select,
  input {
    font-size: 0.9rem;
  }
}

.add-form button {
  text-transform: uppercase;
  background-color: #76c7ad;
}

.list {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 0;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}
@media (max-width: 440px) {
  .actions {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .actions button,
  .list select {
    font-size: 1.2rem;
  }
  select option {
    font-size: 1rem;
  }
}
@media (max-width: 346px) {
  select option {
    font-size: 0.7rem;
  }
}

.list ul {
  list-style: none;
  width: 80%;
  overflow: auto;
  min-height: 42px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}
@media (max-width: 640px) {
  .list ul {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
  li span {
    font-size: 2rem;
  }
}
@media (max-width: 540px) {
  .list ul {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
  li span {
    font-size: 2rem;
  }
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #e5771f;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  /* transform: translateY(2px); */
}

.stats {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 2rem;
}

@media (max-width: 524px) {
  .stats em {
    font-size: 2rem;
  }
}
@media (max-width: 367px) {
  .stats em {
    font-size: 1.8rem;
  }
}
@media (max-width: 331px) {
  .stats em {
    font-size: 1.7rem;
  }
}
